body {
    background-color: rgb(28, 28, 28);
    color: white;
}

.stack-btn {
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
}

.stack-popover {
    font-size: 0.8rem;
    position: absolute;
    background-color: rgba(100,100,100,0.8);
    padding: 5px 10px;
}

.stack-go {
    color: #81cfdc
}

.stack-javascript {
    color: #efd91d
}

.stack-nodejs {
    color: #7ec728;
}

.stack-react {
    color: #61dafb
}
.stack-java {
    color: #f8981d
}

.stack-python {
    color: #f5bd31
}

.stack-cplusplus {
    color: #6195cb
}
.stack-csharp {
    color: #986bd0
}

.stack-c {
    color: #5967ba
}

.stack-rails {
    color: #c60100
}

.stack-ruby {
    color: #e61522
}

.stack-bootstrap {
    color: #7412f0
}

.stack-angularjs {
    color: #d60030
}
.stack-postgresql {
    color: #305d8c
}